
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

/* header */

.header{
    background-image: url('../Image/developer.png'),url('../Image/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}



/* Shared style */

.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.text-center{
    text-align: center;
}


/* Nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;

}

.nav-title{
    font-weight: 800px;
    font-size: 45px;
    /* margin:100px; */
}
nav ul{
    display: flex;
    align-items: center;

}

nav ul li{
    list-style: none;
    margin: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}


/* Banner style */

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-weight:bold;
    font-size: 85px;
}
.banner-description{

}
.banner-pic{
    width: 580px;
}
.banner-contant{
    max-width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 150px;
}


/* Main style  */

main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 100px;
    margin-bottom: 100px;
}

/* About section */

.about{
    border-radius: 10px;
    padding:130px 150px;
    text-align: center;

}

.item-description{
    font-weight: 600;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

/* Skills */

.skill-container{
    display: flex;
    gap: 24px;
    
}

.skill{
    padding: 30px;
    box-shadow: 0px 6px 30px 0px rgb(117, 111, 111);
    border-radius: 10px;
}

/* Resume section */

.resume-container{
    display: flex;
    gap: 24px;
}

.experience-description{
    color: #757575;
    font-size: 16px;
}
.experience-subtitle{
    color: #757575;
    font-size: 20px;
    font-weight:600;
    margin-bottom: 20px;
}

.resume hr{
    margin-top: 30px;
}

.resume-download{
    margin-top: 40px;
}

/* Footer style */

footer{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}

footer input[type="text"],footer input[type="email"],footer textarea{
    height:64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    width: 100%;
}